<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divisions</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--start of First Div-->
<div class="first">
    <div class="first-left"></div>
    <div class="first-right"></div>
</div>
<!--End of first Div-->

<div class="second">
    <div class="second-left"></div>
    <div class="second-mid"></div>
    <div class="second-right"></div>
</div>
<!--End of second Div-->

<!--Start of Third Div-->
<div class="third">
    <div class="third-left"></div>
    <div class="third-mid1"></div>
    <div class="third-mid2"></div>
    <div class="third-right"></div>
</div>
<!--End of Third Div-->

</body>
</html>