<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloom</title>
    <!--Start of linking JS-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <!--End of linking JS-->

    <!--Start of linking CSS-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <!--End of linking CSS-->
</head>
<body>
<!--Start of nav bar section-->
<section>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand font-italic" href="#">Bloom</a>

        <div class="vertical">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">portfollio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--End of nav bar section-->
<!--Start of jumbotron section-->
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <div class="row">
                <h1>Lorem ipsum dolor sit amet</h1>
                <div class="col-md-6 col-sm-6 col-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, hic, nesciunt! Deleniti eligendi minus nihil! Ducimus
                        earum et maiores natus perspiciatis quo sapiente sunt voluptas voluptate voluptatum! Doloribus, tempore, vitae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aperiam assumenda aut culpa delectus doloribus
                        enim ipsa labore laborum magnam nobis officia quidem ratione saepe similique sint, suscipit velit voluptate.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <img class="intro-image" src="../static/images/map.jpg" alt="">
                </div>

                <button type="button" class="btn btn-warning btn1">Learn More</button>
            </div>
        </div>
    </div>
</section>
<!--End of jumbotron section-->

<!--Start of card section-->
<section>
    <h1>This is a heading</h1>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
            <div class="card">
                <img class="card-img-top" src="../static/images/map2.jpeg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Aliquam et iaculis sapien</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut cumque delectus eligendi facere magni molestiae nesciunt quidem quos repellendus,
                        repudiandae soluta tempora temporibus voluptatibus. Eligendi expedita hic perferendis.</p>
                    <a href="#" class="btn btn-warning">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
            <div class="card">
                <img class="card-img-top" src="../static/images/map3.jpeg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Aliquam et iaculis sapien</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut cumque delectus eligendi facere magni molestiae nesciunt quidem quos repellendus,
                        repudiandae soluta tempora temporibus voluptatibus. Eligendi expedita hic perferendis.</p>
                    <a href="#" class="btn btn-warning">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card">
                <img class="card-img-top" src="../static/images/map5.jpeg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Aliquam et iaculis sapien</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at aut cumque delectus eligendi facere magni molestiae nesciunt quidem quos repellendus,
                        repudiandae soluta tempora temporibus voluptatibus. Eligendi expedita hic perferendis.</p>
                    <a href="#" class="btn btn-warning">Learn more</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End of card section-->

<!--Start of footer section-->
<section>
    <div class="row footer-row">
        <div class="col-md-4">
            <h3 class="text-white">Latest Posts</h3><br>
            <img class="calender" src="../static/images/calender.jpg" alt="">
             <h5>Lorem ipsum adipisicing elit.</h5>
                 <p>Lorem ipsum dolor sit amet,</p>
             <br><br>

            <img class="calender" src="../static/images/calender.jpg" alt=""> <h5>Lorem ipsum adipisicing elit.</h5>
                 <p>Lorem ipsum dolor sit amet,</p><br><br>
            <img class="calender" src="../static/images/calender.jpg" alt=""> <h5>Lorem ipsum adipisicing elit.</h5>
                 <p>Lorem ipsum dolor sit amet,</p><br><br>
        </div>
        <div class="row col-md-5">
            <h3 class="text-white">About</h3>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias, consequatur deleniti dolore, doloribus ea et ex incidunt
                maxime minus modi placeat quas quod recusandae reiciendis rerum similique vero.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A exercitationem impedit ipsa laudantium repudiandae. Eos itaque mod
            </p>
        </div>
        <div class="row col-md-3">
            <h3 class="text-white">Stay Connected</h3><br>
            <a href=""><img class="icon" src="../static/images/facebook.png" alt="">Facebook</a>
            <a href=""><img class="icon" src="../static/images/twitter.png" alt="">Twitter</a>
            <a href=""><img class="icon" src="../static/images/gplus.png" alt="">Google Plus</a>
        </div>
    </div>
</section>
<!--End of footer section-->

</body>
</html>